<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
  
  <connectionStrings>
    <add name="cnnStr" connectionString="Data Source =.;Initial Catalog =Szsif;User Id = sa;Password = 123456;MultipleActiveResultSets=true;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="apiurl" value="https://api.xiaoshouyi.com"></add>
    <add key="custbacktime" value="10"></add>
    <add key="cusshortnametime" value="2"></add> 
  </appSettings>
</configuration>
